<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the app component</h3>
            <hr>
            <button class="btn btn-primary" (click)="onCreateServer()" [disabled]="!allowNewServer">Add Servers</button>
            <p *ngIf="isServerCreated; else noServer" > Server is created, server name is {{ serverName}}</p>
            <ng-template #noServer>
                    <p>No Server is created</p>    
            </ng-template>
            <app-servers></app-servers>
        </div>
    </div>
</div>

